{% extends "_onecol.html" %}

{% block title %}Agile Brazil{% endblock %}

{% block body %}
<h2>Paper Submission</h2>

<p>Original papers should be sent electronically by Easychair. Manuscripts must follow the Communications in Computer and
Information Science (CCIS) – Springer template. Papers should be submitted in PDF format. Papers can be written in
Portuguese or English. Submission in English is strongly encouraged since the workshop proceedings are indexed in the
CCIS Digital Library.</p>


<h3>Full Paper Submission</h3>

<p>In full paper submissions we expect original papers presenting finished results. Full papers might have between 12 and
15 pages including figures and bibliography.</p>


<h3>Short Paper Submission</h3>

<p> short paper submissions we are expecting:</p>

<ul>
  <li>Research in progress;</li>
  <li>Experience reports;</li>
  <li>Non-systematic literature reviews; and</li>
  <li>Position papers.</li>
</ul>

<p>Short papers might have between 6 and 8 pages including figures and bibliography.</p>


<p>If you are an industry practitioner and have passed through innovative agile experiences, you may submit it in academic
format to share with other practitioners and researchers in the Short Papers track. We are interested in all types of cases
-- either successful or not.</p>

<h2>Proceedings</h2>

<p>Accepted papers will be published, after the conference, in a volume of Communications in Computer and Information
Science (CCIS) – Springer. This is the third time that the WBMA Proceedings are going to be published at Springer, which
will give world-wide visibility to the researchers presented at WBMA'2019.</p>

{% endblock %}
