{% extends "_onecol.html" %}

{% block title %}Agile Brazil{% endblock %}

{% block body %}
<h2>Topics of Interest</h2>

<p>The main topics of interest to this workshop are:</p>
<ul>
  <li>Adoption of Agile / Lean</li>
  <li>Agile / Lean in Distributed Environments and Large Teams</li>
  <li>Agile in Government</li>
  <li>Agile Practices and Future Trends, Evolution and Revolution (Technical or Managerial)</li>
  <li>Agile Principles, Lean Manufacturing and Other Disciplines</li>
  <li>Agile Project Management, Outsourcing and Governance in the Agile Context</li>
  <li>Agile Testing & Quality: Techniques, Patterns and Automated Support</li>
  <li>Conceptual Studies and Theoretical Foundations of Agile / Lean</li>
  <li>Development in Distributed and Global Agile Teams</li>
  <li>DevOps and Continuous Delivery</li>
  <li>Experimental Studies with Agile / Lean</li>
  <li>Human and Social Aspects in Agile Methods</li>
  <li>Innovation and Entrepreneurship Agile</li>
  <li>Lean Startups</li>
  <li>Managing Technical Debt</li>
  <li>Metrics, Measurements and Mining Repositories in the Context of Agile</li>
  <li>Organizational Transformation and Cultural Aspects on Agile Business</li>
  <li>Patterns and Anti-patterns applying Agile / Lean</li>
  <li>Refactoring Issues</li>
  <li>Scaling Agile to Large Corporations</li>
  <li>Systems and Software Architecture and Development of Critical Systems</li>
  <li>Teaching and Coaching Agile and Lean</li>
  <li>Tools and Techniques on Agile / Lean</li>
  <li>User Experience (UX) Environments on Agile / Lean</li>
  <li>User Roles (co-participation)</li>
</ul>
<p>We also welcome other related topics of research on agile methods.</p>
{% endblock %}
