<div class="clear-fix"></div>
<footer>
  <div class="container-fluid">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">

          <div class="text-center pull-right">
            <a href="https://www.facebook.com/TODO"> <i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://twitter.com/TODO"> <i class="fa fa-fw fa-twitter"></i></a>
            <a href="mailto:TODO"> <i class="fa fa-fw fa-envelope"></i></a>
          </div>
          <div class="text-center">
            <span class="brand-grey">LIFT LEARNING 2019</span>
          </div>
        </div>
      </div>
  	</div>
  </div>
</footer>
